html
  head
    title= 'Доровенько!'
  body
    h1= 'давненько не виделись'
    a(href= '/login')
      input(type='button', value='заходи')
    br
    a(href= '/signup') 
      input(type='button', value='я не местный')